<!-- 
  style.css global style css
  test.ts=>unit testing
  index.html=>first file is call
  environments.prod.ts=> it file only use full production (public) 
  enbironments.stage.ts=> (testing)
 enbironments.ts=> if proudction evironment is not their that will be used (dev)
assets=>image.store
favicon.ico=>only for icon

 -->
 <!-- 
angular.json=>prefix,assets,style sheet global project related configuration
package.json=>thrid party libary  is coming for depencies=>production side
dev depencies=>devlopement side

suppose ts-node is their only work dev depncies why ts-node is convert to js so that it will work dev-dependies is working
ts-lint=>apana khud rule bana sakte haine

if u change 

  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "watch": "ng build --watch --configuration development",
    "test": "ng test",
    "subham":"ng serve"
  },
:\subhamangular\paid\angular\demo1angular\src>npm run subham
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.

> demo1angular@0.0.0 subham
> ng serve


  -->
  <!-- 
    tsconfig.json=>it will convert type script to convert javascript
   -->
   <!-- 

    README.md=>markdown file build,
    
    -->